.home-main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .home-main {
    text-align: center;
    padding: 20px;
  }
  
  .hotel-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    text-align: left;
  }
  
  .hotel-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .hotel-details {
    padding: 10px;
  }
  
  .hotel-details p {
    margin: 5px 0;
    font-size: 16px;
  }
  